@import './src/styles/variables';

.root {
  width: 15rem;
  font-size: 1.4rem;
  margin: 1.5rem;
}

.img {
  width: 15rem;
  height: 23rem;
  border: 0.1rem solid $grey;
  border-radius: .4rem;
}

.svg {
  margin: 0 .1rem;
  color: $accent-color; 
}
