@import './src/styles/variables';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem;
}

.logo {
  font-size: 2rem;
  flex: 2;
}

.input {
  flex: 3;
}

.links {
  flex: 2;
}

.goBack {
  cursor: pointer;
  color: lighten($accent-color, 5%);

  &:hover {
    color: darken($accent-color, 2%);
  }
}